
.reviews_photo_women{
	padding-bottom: 22px;
}

.women_single{
	    display: flex;
    justify-content: space-between;
}

.women_write{
	color:#214e9b;
	font-size: 1em;
	line-height: 1;
}

.women_benefit{
	position: relative;
	padding-left: 1.5em;
}

.reviews_online_women{
	background:#214e9b!important; 
	left:0;
}